{% extends "base_usuarios.html" %}

{% block title %} Reservar - Sistema de reservas {% endblock %}


{% block body %}
<section class="encabezado-pagina">
    <h1>Reservar</h1>
    <hr>
    <p>Reservá una mesa para visitarnos</p>
</section>


{% if error %}
    <div class="alert alert-error">{{ error }}</div>
{% endif %}

<form class="reservar" method="POST" action="{{ url_for('publico.crear_reserva') }}">

    <section class="reservar__datos-reserva">

        <h2>Detalles de la reserva</h2>

        <label for="fecha">Fecha</label>
        <input type="date" id="fecha" name="fecha" required>

        <label for="horario">Horario</label>
        <select id="horario" name="horario" required>
            <option disabled selected>Elegí un horario</option>
            {% for horario in horarios %}
            <option value="{{ horario }}">{{ horario }}</option>
            {% endfor %}
        </select>

        <label for="cantidad_personas" >Cantidad de personas</label>
        <input type="number" name="cantidad_personas" required min="1">

    </section>

    <section class="reservar__datos-personales">

        <h2>Tus datos</h2>

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" required>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>

        <label for="telefono">Telefono</label>
        <input type="tel" name="telefono" id="telefono" required>

    </section>

    <section class="reservar__servicios">

        <h2>Servicios adicionales</h2>

        <div class="reservar__contenedor-servicios">

            {% for servicio in servicios_disponibles %}
            <div>
                <input type="checkbox" name="servicios[]" value="{{ servicio.id_servicio }}" id="servicio_{{ servicio.id_servicio }}">                <span>{{ servicio.nombre }}</span>
            </div>
            {% endfor %}

        </div>

    </section>

    <section class="reservar__comentarios">

        <h2>Comentarios</h2>
        <input type="text" name="comentarios">

    </section>

    <button class="boton boton--submit" type="submit">Solicitar reserva</button>

</form>
<script>
    const HORARIOS_DATA = [
        {% for h in horarios %}
        { dia: "{{ h.dia }}", hora_apertura: "{{ h.hora_apertura }}", hora_cierre: "{{ h.hora_cierre }}" }{% if not loop.last %},{% endif %}
        {% endfor %}
    ];
</script>
<script src="{{ url_for('static', filename='division_horarios_reserva.js') }}"></script>
{#Si marca error en el VS es pq espera todo js dentro de script pero no rompe, despues funciona bien#}
{% endblock %}
