{% extends "base_usuarios.html" %}

{% block title %}Reseñas - {{ datos.nombre }}{% endblock %}

{% block body %}

<section class="encabezado-pagina">
    <h1>Reseñas</h1>
    <hr>
    <p>Dejanos tu opinión sobre tu experiencia en nuestro local</p>
</section>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form class="review" method="POST" action="{{ url_for('publico.crear_review', token=token) }}">

    <label for="review__estrellas">Valoración</label>
    <select id="review__estrellas" name="estrellas">
        <option value="" disabled selected>Seleccioná la cantidad de estrellas</option>
        <option value="1">★</option>
        <option value="2">★★</option>
        <option value="3">★★★</option>
        <option value="4">★★★★</option>
        <option value="5">★★★★★</option>
    </select>

    <label for="review__comentario">Comentarios</label>
    <textarea id="review__comentario" name="comentario" ></textarea>



    <button class="boton boton--submit" type="submit">Subir reseña</button>

</form>

{% endblock %}
