{% extends "base_usuarios.html" %}

{% block title %}Reseñas - {{ datos.nombre }}{% endblock %}

{% block body %}

<h1>Crear reseña</h1>

<form class="review" method="POST" action="{{ url_for('post_review') }}">
    <label for="review__id">Número de reserva</label>
    <input type="review__id" id="review__id" name="id_reserva" >


    <label for="review__estrellas">Valoración</label>
    <select id="review__estrellas" name="estrellas">
        <option value="" disabled selected>Seleccioná la cantidad de estrellas</option>
        <option value="1">★</option>
        <option value="2">★★</option>
        <option value="3">★★★</option>
        <option value="4">★★★★</option>
        <option value="5">★★★★★</option>
    </select>

    <label for="review__comentario">Comentarios</label>
    <input type="textarea" id="review__comentario" name="comentario" >
    
</form>

{% endblock %}
