{% extends "base_usuarios.html" %}

{% block title %}Dejá tu reseña{% endblock %}

{% block body %}

<section class="encabezado-pagina">
    <h1>Reseñas</h1>
    <hr>
    <p>Dejanos tu opinión sobre tu experiencia en nuestro local</p>
</section>

<form class="review" method="POST" action="{{ url_for('publico.crear_review', token=token) }}">

    <div class="review__campo">
        <label for="review__estrellas">Valoración</label>

        <select id="review__estrellas" name="estrellas">
            <option value="" disabled selected>
                Seleccioná la cantidad de estrellas
            </option>
            <option value="1">★</option>
            <option value="2">★★</option>
            <option value="3">★★★</option>
            <option value="4">★★★★</option>
            <option value="5">★★★★★</option>
        </select>
    </div>

    <div class="review__campo">
        <label for="review__comentario">Comentarios</label>
        <textarea id="review__comentario" name="comentario"></textarea>
    </div>

    <button class="boton boton--submit" type="submit">Enviar</button>

</form>

{% endblock %}