{% extends "base.html" %}

{% block title %}{{ datos.nombre }}{% endblock %}

{% block body %}

    <section class="hero">
        <h1 class="hero__titulo">{{ datos.nombre }}</h1>
        <p class="hero__descripcion">{{ datos.descripcion }}</p>
        <a class="boton boton--reservar" href="{{ url_for('publico.crear_reserva') }}" > Reservar</a>
        <a class="boton boton--menu" href="{{ url_for('publico.menu') }}">
            Menú
        </a>
        <a class="boton boton--reviews" href="{{ url_for('publico.reviews') }}">
            Reseñas
        </a>
    </section>

    <section class="informacion">

        <div class="datos">
            <dl>
                <dt>Dirección</dt>
                <dd>{{ datos.direccion }}</dd>

                <dt>Teléfono</dt>
                <dd>{{ datos.telefono }}</dd>

                <dt>Email</dt>
                <dd>{{ datos.email }}</dd>
            </dl>
        </div>

        <div class="servicios">
                <ul>
                    {% for servicio in datos.servicios_disponibles %}
                    <li>{{ servicio }}</li>
                    {% endfor %}
                </ul>
            </div>

        <div class="horarios">
            <h2>¡Visitános!</h2>
            <a class="boton boton--reservar" href="{{ url_for('publico.crear_reserva') }}">Reservar</a>
            <table class="horarios__tabla">
                <tbody>
                    {% for dia in datos.horarios %}
                    <tr>
                        <td>{{ dia.dia }}</td>
                        <td>{{ dia.hora_apertura }}</td>
                        <td>{{ dia.hora_cierre }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
